<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Check for oil spill</title>
</head>

<body>
    <!-- <FORM action=".." method="POST" enctype="multipart/form-data">
        <input type="file" id="file" placeholder="upload a file"       
        name="file">
        <button type="submit">Submit</button>
    </FORM> -->
    <form action="javascript:upload()">
        Выберите изображение: <input type="file" value="Выберите изображение:" id="picture"><br>
        Отправить: <input type="submit" value="Отправить">
    </form>

</body>

<script type="text/javascript">
    async function upload() {
        try {
            var uploadform = document.getElementById('picture').files;
            console.log(uploadform)
            var file = uploadform[0];
            var reader = new FileReader();
            var base64 = ""
            reader.onloadend = async () => {
                // Use a regex to remove data url part
                const base64String = reader.result
                    .replace('data:', '')
                    .replace(/^.+,/, '');

                console.log(base64String);
                response = await fetch("/check", {
                    method: "POST",
                    body: JSON.stringify({
                        image: base64String
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                        "Access-Control-Allow-Origin": "*"
                    }
                })


                // const reader = await response.body.getReader();
                // let { value: chunk, done: readerDone } = await reader.read();
                // const utf8Decoder = new TextDecoder('utf-8');
                // json = chunk ? utf8Decoder.decode(chunk) : '';
                const json = await response.text();
                console.log(json);

                alert(json)
            };
            await reader.readAsDataURL(file);
            // console.log(encoded);
            // var encoded = Base64.encode(uploadform);

            // response = await fetch("/check", {
            //     method: "POST",
            //     body: JSON.stringify({
            //         image: base64
            //     }),
            //     headers: {
            //         "Content-type": "application/json; charset=UTF-8",
            //         "Access-Control-Allow-Origin": "*"
            //     }
            // })

            // const json = await response.text();
            // console.log(json);

            // alert(json)
        } catch (error) {
            console.error(error.message);
        }
    }
</script>

</html>